<% include ../partials/header %>
<% include ../partials/menu %>
<!DOCTYPE html>
<html>	

<head>
	<img src="../resources/img/beproudcapaabanner.jpg" class="img-fluid" alt="Registration Page Banner for CU Football">
    <br>
	<br>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<style>
		.slider {
			-webkit-appearance: none;
			height: 15px;
			border-radius: 5px;
			background: #d3d3d3;
			outline: none;
			opacity: 0.7;
			-webkit-transition: .2s;
			transition: opacity .2s;
		}

		.slider:hover {
			opacity: 1;
		}

		.slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background: #800000;
			cursor: pointer;
		}

		.slider::-moz-range-thumb {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background: #800000;
			cursor: pointer;
		}
	</style>
</head>

<body>

	<div class="blocktext">
		<div class="container">
			<div class="modal" id="modal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Country to Visit</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>You should visit <%= modal %></p>
						</div>
						<div class="modal-footer">
							<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col">
						<div class="row">
							<div class="col-sm">
								<p class="text-left">Off the beaten path</p>
							</div>
							<div class="col-sm">
								<p class="text-right">Tourist Destination</p>
							</div>
						</div>
						<div class="row">
							<div class="col">

								<div class="row">
									<input type="range" min="1" max="100" value=<%= slides[0] %> class="slider"
										id="myRange1" position="relative">
								</div>
								</br>
								<p align="center"><span id="slide1"></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col">
						<div class="row">
							<div class="col-sm">
								<p class="text-left">Ascetic</p>
							</div>
							<div class="col-sm">
								<p class="text-right">Luxury</p>
							</div>
						</div>
						<div class="row">
							<div class="col">

								<div class="row">
									<input type="range" min="1" max="100" value=<%= slides[1] %> class="slider"
										id="myRange2" position="relative">
								</div>
								</br>
								<p align="center"><span id="slide2"></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col">
						<div class="row">
							<div class="col-sm">
								<p class="text-left">Cheap</p>
							</div>
							<div class="col-sm">
								<p class="text-right">Expensive</p>
							</div>
						</div>
						<div class="row">
							<div class="col">

								<div class="row">
									<input type="range" min="1" max="100" value=<%= slides[2] %> class="slider"
										id="myRange3" position="relative">
								</div>
								</br>
								<p align="center"><span id="slide3"></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col">
						<div class="row">
							<div class="col-sm">
								<p class="text-left">Old Population</p>
							</div>
							<div class="col-sm">
								<p class="text-right">Young Population</p>
							</div>
						</div>
						<div class="row">
							<div class="col">

								<div class="row">
									<input type="range" min="1" max="100" value=<%= slides[3] %> class="slider"
										id="myRange4" position="relative">
								</div>
								</br>
								<p align="center"><span id="slide4"></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col">
						<div class="row">
							<div class="col-sm">
								<p class="text-left">Close to home</p>
							</div>
							<div class="col-sm">
								<p class="text-right">Far from home</p>
							</div>
						</div>
						<div class="row">
							<div class="col">

								<div class="row">
									<input type="range" min="1" max="100" value=<%= slides[4] %> class="slider"
										id="myRange5" position="relative">
								</div>
								</br>
								<p align="center"><span id="slide5"></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</br>
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<a id="find_dest" class="btn btn-primary" style="background-color: #800000; outline-color: #800000;">
					<font color="white">Find My Destination</font>
				</a>
			</div>
		</div>
		</br>
		<h2 style="display:none;" id="modalhidden"><%=modal %></h2>
		<script>
			var sliders = new Array(5);
			var outputs = new Array(5);
			var modal = document.getElementById("modalhidden").innerHTML;
			if (modal != "") {
				$("#modal").modal('show');

			}
			for (i = 0; i < 5; i++) {
				sliders[i] = document.getElementById("myRange" + (i + 1));
				outputs[i] = document.getElementById("slide" + (i + 1));
				outputs[i].innerHTML = sliders[i].value;
			}
			sliders[0].oninput = function () {
				outputs[0].innerHTML = this.value;
			}
			sliders[1].oninput = function () {
				outputs[1].innerHTML = this.value;
			}
			sliders[2].oninput = function () {
				outputs[2].innerHTML = this.value;
			}
			sliders[3].oninput = function () {
				outputs[3].innerHTML = this.value;
			}
			sliders[4].oninput = function () {
				outputs[4].innerHTML = this.value;
			}
			document.getElementById('find_dest').onclick = function () {
				var stateObj = { foo: "bar" };
				document.getElementById('find_dest').href = "/home/?s0=" + outputs[0].innerHTML + "&s1=" + outputs[1].innerHTML + "&s2=" + outputs[2].innerHTML + "&s3=" + outputs[3].innerHTML + "&s4=" + outputs[4].innerHTML;
			}
		</script>

	</div>
</body>

</html>
