<% include ../partials/header %>
<% include ../partials/menu %>
<!DOCTYPE html>
<html>	
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-sm">
				<div class="card">
				<%
				var image_src = '../resources/img/flags/44.png'; 
				if(details) {
					image_src = '../resources/img/flags/' + details.id + '.png';
				}
				%>
				<img class="card-img-top" id="flag_img" src= "<%- image_src %>" alt="Choose your location">
				  <div class="card-body mx-auto">
					<form class="form"action="/learn/post" method="get">
						<select class="custom-select" name="country_choice" onchange="this.form.submit()">
							 <option selected>Select location</option>
							<%
							if(data) {
								var pd = '';
								data.forEach(function(item){
									pd += '<option value="' + item.id+ '">' + item.country + '</option>';
								}); %>
								<%- pd %>
							<% } %>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-lg">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<%
							var country = '';
							var continent = '';
							var region = '';
							var population = 0;
							var land = 0;
							var incar = 0; 
							var popa = 0; 
							var gdp = 0;
							var fores = 0;
							var lifexp = 0;
							var arabcli = 0;
							var coalen = 0;
							if(details) {
								country = details.country;
								continent = details.continent;
								region = details.region;
								population = details.population;
								land = details.landarea;
								incar = details.incarcerationrate; 
								popa = details.ageofpopulation; 
								gdp = details.gdp;
								fores = details.forestedportion;
								lifexp = details.lifeexpectancy;
								arabcli = details.arableclimateportion;
								coalen = details.coastlength;
							} %>
						</tr>
						<tr>
							<th>Country</th>
							<td><%- country %></td>
						</tr>
						<tr>
							<th>Continent</th>
							<td><%- continent %></td>
						</tr>
						<tr>
							<th>Region</th>
							<td><%- region %></td>
						</tr>
						<tr>
							<th>Total population (2015 estimate)</th>
							<td><%- population %></td>
						</tr>
						<tr>
							<th>Total Land Area (km^2)</th>
							<td><%- land %></td>
						</tr>
						<tr>
							<th>Incarcerated Population per 100,000 pop.</th>
							<td><%- incar %></td>
						</tr>
						<tr>
							<th>Average age of population (median)</th>
							<td><%- popa %></td>
						</tr>
						<tr>
							<th>PPP per capita (Purchasing Power Parity)</th>
							<td><%- gdp %></td>
						</tr>	
						<tr>
							<th>Percent of total land that remains forested</th>
							<td><%- fores %></td>
						</tr>
						<tr>
							<th>Median Life expectancy (years)</th>
							<td><%- lifexp %></td>
						</tr>					
						<tr>
							<th>Percent of total land considered arable</th>
							<td><%- arabcli/100 %></td>
						</tr>
						<tr>
							<th>Total coast length (km)</th>
							<td><%- coalen %></td>
						</tr>																
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>